.cd{
  color: rgb(0, 156, 47);
}

.carD{
  border-radius: 1px;
  border-color: rgb(0, 156, 47);
  
}


.dispo {
  border-left: 5px solid #28B463;
}

.ocup {
  border-left: 5px solid #E74C3C;
}

.limp {
  border-left: 5px solid #F4D03F;
}
