
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

*{
  /* font-family: 'Alegreya', serif; */
  font-family: 'Inria Sans', sans-serif;
}

.tableR{
  padding: 40px;
  color: rgb(151, 151, 151);
}




