

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

*{
  font-family: 'Inria Sans', sans-serif;
}

.title{
  letter-spacing: 1px;
  text-align: center;
  color: #03643a;
  font-family: 'Inria Sans', sans-serif;

}
  .css-button-sliding-to-left--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1.00s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #03643a;
    color: #03643a;
  }
  .css-button-sliding-to-left--green:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--green:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #03643a;
  }

  @media (min-width: 999px ){
    

  }
